@import "../../app.scss";

:root {
  --border-right: rgb(36, 46, 38);
  --border-left: rgb(36, 46, 38);
  --border-size: 60px;
  --border-radius: 20px;
  --color-start: rgba(68, 94, 70, 0.34);
  --color-end: rgba(19, 21, 25, 0.384);
  --degree-degree: 225deg;
  --color-text: #dcdcdc;
}

.latest-container {
  width: 100%;
  height: 100%;
  background-image: url("/orangeBox.webp");
  background-size: cover;
  overflow: hidden;

  @include mobile {

    background-position: 90% 0px;
    background-repeat: no-repeat;
    background-size: 280% 120%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:flex-start;
  }

  .mainCard {
    width: 50%;
    height: 70%;
    position: relative;
    top: 120px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: var(--border-radius);
    backdrop-filter: blur(1rem);
    background: linear-gradient(
      var(--degree-degree),
      var(--color-start),
      var(--color-end)
    );

    box-shadow: -1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);

    @include mobile {
      width: 90%;
      height: 50%;
      top: unset;
      left: unset;
      border-radius: 10px;
      gap: 15px;
      margin-top: 100px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: var(--border-size);
      height: var(--border-size);
      border-top: 2px solid var(--border-right);
      border-right: 2px solid var(--border-right);
      border-radius: 0 var(--border-radius) 0 0;
      
      @include mobile {
        border-radius: 0 10px 0 0;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: var(--border-size);
      height: var(--border-size);
      border-top: 2px solid var(--border-left);
      border-left: 2px solid var(--border-left);
      border-radius: var(--border-radius) 0 0 0;

      @include mobile {
        border-radius: 10px 0 0 0;
      }
    }

    .upperBoxCard {
      width: 90%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 15px;
      border-radius: var(--border-radius);
      background: linear-gradient(
        var(--degree-degree),
        var(--color-start),
        var(--color-end)
      );

      box-shadow: -0.2rem 0.2rem 0.7rem rgba(0, 0, 0, 0.5);
      
      @include mobile {
        height: 15%;
        border-radius: 6px;
        top: 10px;
        box-shadow: -0.15rem 0.15rem 0.5rem rgba(0, 0, 0, 0.5);
      }

      h1 {
        font-size: 2.2rem;
        color: #d48620;
        letter-spacing: 0.5rem;
        position: relative;
        text-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.5);

        @include mobile {
          font-size: 0.8rem;
        }
      }
    }

    .subCard {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(
        var(--degree-degree),
        var(--color-start),
        var(--color-end)
      );
      border-radius: 0 0 var(--border-radius) var(--border-radius);

      @include mobile {
        border-radius: 0 0 10px 10px;
      }

      

      p {
        position: relative;
        top: 15px;
        color: var(--color-text);
        width: 90%;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        line-height: 1.8rem;

        @include mobile {
          top: 10px;
          font-size: 0.7rem;
          line-height: 1.2rem;
        }

        span {
          display: block;
          height: 40px;

          @include mobile {
            height: 5px;
          }
        }
      }
    }
    button {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 10%;
      left: 30px;
      bottom: 20px;

      background: linear-gradient(
        var(--degree-degree),
        var(--color-start),
        var(--color-end)
      );
      box-shadow: -0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
      border-radius: 10px 10px 10px 10px;
      font-size: 1.05rem;
      font-weight: 600;
      color: #d48620;
      text-shadow: -0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
      cursor: pointer;
      border: none;
      z-index: 1;
      transition: all 0.3s ease;
      overflow: hidden;
      
      @include mobile {
        left: unset;
        right: 20px;
        bottom: 8px;
        font-size: .7rem;
        width: 30%;
        border-radius: 5px 5px 5px 5px;
        box-shadow: -0.15rem 0.15rem 0.5rem rgba(0, 0, 0, 0.5);

      }

      &::after {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%) translateX(20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 0;
      }

      &:hover {
        transform: scaleX(1.1);
        padding-right: 20px;
        background: #d48620;
        color: var(--color-text);
        border: 2px solid #d48620;
        text-shadow: -0.2rem 0.2rem 0.3rem #784a0d;

        cursor: pointer;

        &::after {
          content: ">";
          opacity: 1;
          transform: translateY(-50%) translateX(0);
        }
      }
    }
  }
}
